@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.login-page {
    font-family: 'Caveat', cursive;
    width:100%;
    max-width:330px;
    margin:auto;
    height:100;
    padding: 15px;
  }
  
.font-weight-bold , 
.text-center, 
.btn-lg btn-info btn-block,
.form-input,
.form-label {
    font-family: 'Caveat', cursive;
  }

.form-label {
    font-size: 22px;
}
